$primary: #23282d;
$secondary: #32373c;
$blue: #0073aa;
$orange: #ca4a1f;
$light: #f1f1f1;
$divider: #e1e1e1;
$medium: #919396;
$medium-dark: #53585d;
$medium-light: #a3a8ad;
$highlight: #f7f7f7;

$blitz: #2d2a4a;
$crabs: #1c8a42; 
$ewoks: #034ea2; 
$pharaohs: #ce1126;
$jerks: #009b3a; 
$kamikazes: #bc002d;
$renegades: #0039a6;
$scorpions: #74acdf;
$squirrels: #d52b1e;
$jerky: #e30a17;
$grainers: #005bbb;
$wookiees: #002868;

$flagIconSize: 2rem;